= form_for(message, url: create_message_path) do |f|
  = f.hidden_field :conversation_id, value: message.conversation.id, id: 'conversation_id'
  .flex
    = f.text_field :body, { class: "w-11/12 rounded-lg border border-gray-500 focus:border-indigo-500 focus:ring-1 focus:ring-indigo-500 focus:outline-none text-gray-700 py-2 px-4 leading-tight", placeholder: "Message..." }
    = f.button type: "submit", class: "custom-submit-button" do
      = raw('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-10 h-10 ml-4"><path fill-rule="evenodd" d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25zm4.28 10.28a.75.75 0 000-1.06l-3-3a.75.75 0 10-1.06 1.06l1.72 1.72H8.25a.75.75 0 000 1.5h5.69l-1.72 1.72a.75.75 0 101.06 1.06l3-3z" clip-rule="evenodd" /></svg>')